@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

// Font family
$font-main: 'Montserrat', sans-serif;

// Colors
$darkgrey: #292929;
$grey-button: #444444;
$grey: #949494;
$white: #e3e3e3;

// Breakpoints
$bp-desktop: 1200px;
$bp-tablet: 900px;
$bp-mobile: 480px;